name: Mobile CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.5'

      - name: Install Dependencies
        working-directory: Frontend
        run: flutter pub get

      - name: Code Quality Check
        working-directory: Frontend
        run: flutter analyze

      - name: Run Unit Tests
        working-directory: Frontend
        run: flutter test

      - name: Build Application
        working-directory: Frontend
        run: flutter build apk --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: Frontend/build/app/outputs/flutter-apk/*.apk
